@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background: var(--color-principal);
    font-family:'Poppins', sans-serif;
    font-size: 20px;
}

.main{
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "section_1_texto section_1_texto section_1_img section_1_img"
        "section_1_texto section_1_texto section_1_img section_1_img"
        "section_1_texto section_1_texto section_1_img section_1_img"
        "section_1_texto section_1_texto section_1_img section_1_img"
    ;
}


.header{
    color: white;
    width: 100%;
    height: 10vh;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

.header_container_foods{
    display: flex;
}

.header_container_foods p{
    display: flex;
    padding: 1em;
    font-size: 2.5em;
    margin: 0;
    align-items: center;
    color: var(--color-orange);
    margin-left: 1em;
}

.header_container_opc{
    display: flex;

}

.header_container_opc ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.header_container_opc li{
    float: left;
    padding: 1em;
    font-size: 2em;
    margin-right: 1em;
}

.section_1_text{
    grid-area: section_1_texto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2em;
}

.section_1_img{
    grid-area: section_1_img;
    display: flex;
    justify-content: center;
    position: relative;

}

.section_1_img img{
    width: 30vw;
    height: 50vh;

}

.section_1_text h1{
    font-size: 5rem;
    color: var(--color-orange);
    margin-top: 0;
    margin-bottom: 0;

}

.section_1_text p{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}

.section_1_text button{
    height: 2em;
    font-size: 1.5em;
    background: var(--color-orange);
    border-radius: 5px;
    box-shadow: none;
    border: none;
    color: white;
}



@media (width < 900px){
    .main{
        display: grid;
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "section_1_texto"
            "section_1_texto"
            "section_1_img"
            "section_1_img"        
        ;
    }

    body{
        font-size: 15px;
    }
    .section_1_img img{
        width: 80vw;
        height: 45vh;
    }
    .section_1_text div{
        text-align: center;
    }

    .section_1_text h1{
        font-size: 3rem;
    }
    
    .section_1_text p{
        font-size: 1.5rem;
    }
    
    .section_1_text button{
        font-size: 1.5rem;
    }
}   